<button class="skip-link">Skip directly to site content</button>
<div role="navigation" class="topbar">
  <img class="logo" width="100" alt="Witch of WCAG Logo" src="../assets/small-grey-logo.jpg">
  <p class="left-message">Because accessibility doesn't have to involve magic</p>
</div>
<div class="navigation-bar">
    <a routerLink="/home" class="nav-link" aria-label="Home">Home</a>
    <a routerLink="/accessibility" class="nav-link" aria-label="Web Accessibility">Web Accessibility</a>
    <a routerLink="/spellbook" class="nav-link" aria-label="508 Spellbook">508 Spellbook</a>
    <a routerLink="/library" class="nav-link" aria-label="Code Library">Code Library</a>
    <a routerLink="/team" class="nav-link" aria-label="Who we are">Who We Are</a>
    <a routerLink="/contact" class="nav-link" aria-label="Contact">Contact</a>
  </div>