<button class="skip-link" (click)="goToContent('pageContent')">Skip directly to site content</button>
<div role="navigation" class="topbar">
  <img class="logo" width="200" alt="Witch of WCAG Logo" src="../assets/small-grey-logo.jpg">
  <div class="navigation-bar">
    <a routerLink="/home" class="nav-link" aria-label="Home">HOME</a>
    <a routerLink="/team" class="nav-link" aria-label="Who we are">WHO WE ARE</a>
    <a routerLink="/spellbook" class="nav-link" aria-label="508 Spellbook">508 SPELLBOOK</a>
    <a routerLink="/contact" class="nav-link" aria-label="Contact">CONTACT</a>
  </div>
</div>