<div class="content">
    <div class='row'>
      <div class="column left">
        <p class="title">Contents</p>
        <button class="button">Skip Links</button>
        <button class="button">Page Titles</button>
        <button class="button">Semantic HTML</button>
        <button class="button">Mouse and Keyboard Events</button>
        <button class="button">ARIA Landmarks</button>
        <button class="button">ARIA Roles</button>
        <button class="button">ARIA States and Properties</button>
        <button class="button">Managing Focus</button>
        <button class="button">Accessibility API</button>
        <button class="button">Assistive Technologies</button>
        <button class="button">Keyboard Accessibility</button>
        <button class="button">Links</button>
        <button class="button">Buttons</button>
        <button class="button">Multiple Ways to Find Content</button>
        <button class="button">Color Contrast</button>
        <button class="button">Navigation</button>
      </div>
      <div class="column right">
        <div class="webcontent">
            <h1>Web Accessibility Guidebook</h1>
        </div>
      </div>
    </div>
  </div>
  
