@import (css) url('https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap');
body {
    margin: 0px;
    background: #E8E8E8;
    font-family: 'Source Sans Pro', sans-serif;
}
// Grey accents
@dark-grey: #787878; 
@light-grey: #BEBEBE;
@smoke-screen: #F5F5F5;

// Grey backgrounds
@navbar-grey: #505050;

//font-sizes
@smallest: 10pt;
@smaller: 12pt;
@small: 14pt;
@normal: 16pt;
@large: 18pt;
@larger: 20pt;
@largest: 24pt;

// title sizes 
h1 {
    font-size: 36pt;
}
h2 {
    font-size: 33pt;
}
h3 {
    font-size: 30pt;
}
h4 {
    font-size: 27pt;
}


